<head>
        <title></title>
        <link rel = "stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>
        <h2>Error</h2>
    </header>
    <main>
        <p>{{error}}</p>
    </main>
    <footer>
        <a href="/journals/" class="button-link">Back to Journals</a><br>
        <p>2024: The Journal App by CS546 Group 5.</p>
    </footer>
    <script src="../../public/js/sections.js"></script>
</body>
