<head>
        <title></title>
        <link rel = "stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>
        <h2>Error</h2>
    </header>
    <main>
        <p>{{error}}</p>
    </main>
    <script src="../../public/js/sections.js"></script>
</body>