<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <h1>{{title}}</h1>
    <p>Section ID: {{section._id}}</p>
    <p>Title: {{section.title}}</p>
    <script src="../../public/js/sections.js"></script>
</body>