<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>
        <h1>Error</h1>
    </header>
    <main>
        <p>{{error}}</p>
    </main>
    <footer>
        <p>2024: The Journal App by CS546 Group 5.</p>
    </footer>
</body>