<h2>All Journals</h2>

{{#if journals.length}}
<ul>
  {{#each journals}}
  <li><a href="/journals/{{this._id}}">{{this.title}}</a></li>
  {{/each}}
</ul>
{{else}}
<p>No journals found.</p>
{{/if}}

<a href="/journal.html" class="btn">Return to Journal Main Menu</a>
