<head>
        <title>All Users</title>
        <link rel = "stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>
        <h1>All Users</h1>
    </header>
    <main>
        {{#each users}}
        <a href="/users/get/{{username}}">{{username}}</a>
        {{/each}}
    </main>
    <script src="../../public/js/users.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>