<head>
        <title></title>
        <link rel = "stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Delete {{username}}</h1>
    </header>
    <main>
        <form id="delete-form" method="POST" action="/users/delete/{{username}}">
            <label for="deleteButton">Are you sure you want to delete {{username}}?</label>
            <button type="submit">Delete</button>
        </form>
    </main>
    <script src="../../public/js/users.js"></script>
</body>