<head>
        <title></title>
        <link rel = "stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <main>
    </main>
    <script src="../../public/js/users.js"></script>
</body>