<head>
        <title>Login</title>
        <link rel = "stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form id="login-form" method="POST" action="/users/login">
            <label for="loginInput">Email or Username:</label>
            <input type="text" name="loginInput" id="loginInput">
            <br>
            <label for="passwordInput">Password:</label>
            <input type="password" name="passwordInput" id="passwordInput">
            <br>
            <button type="submit">Login</button>
        </form>
    </main>
    <script src="../../public/js/users.js"></script>
</body>