<main>
    <h1>Delete a Post</h1>
    <form id="deleteForm" method="POST" action="delete">
    <label for="deleteId">ID:
        <input id="deleteId" name="deleteId" placeHolder="Enter ID to Delete">
        <button id="deleteButton">Delete Entry</button>
    </label>
    <p>{{message}}</p>
    {{#if hasError}}
        <p id="error" class="error">{{error}}</p>
    {{/if}}

    </form>
</main>
