<main>
    <div class="postPage">
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        {{#if hasError}}
            <p class="error" name="error">{{error}}</p>
        {{/if}}
    </div>
</main>
