<main>
    <h1>Search Journal Entry</h1>
    <form id="searchForm" method="POST" action="/posts/search">
        <div class="search">
            <label for="searchInput">Title:
                <input id="searchInput" name="searchInput" placeholder="Enter Search">
            </label>
        </div>
        <div class="text-label">
            
        </div>
        <div class="button">
            <button type="submit" id="searchButton">Save Entry</button>
        </div>
        <p id="error">{{error}}</p>
        <p id="message">{{message}}</p>
        <ol class="ol" id="search">
            {{#each searchResults}}
                
                <li><a href="/posts/{{this._id}}">{{this.title}}</a></li>
            {{/each}}
        </ol>
    </form>
</main>
