<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<header>
    <h1>Update Journal Entry</h1>
</header>
<main>
        <form id="entryForm" method="POST" action="update">
            <div class="title">
                <label for="titleInput">Title:
                    <input id="titleInput" name="titleInput" placeholder="Enter Title">
                </label>
            </div>
            <br>
            <div class="text-label">
                    <label for="entryText">Journal Entry Text:</label>
            </div>
            <div class="text-box">
                    <textarea id="entryText" name="entryText" rows="10" cols="50" placeholder="Enter Text Here"></textarea>
            </div>
            <div class="public">
                <label for="pub">Public?:
                    <select name="pub" id="pub">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                </label>
            </div>
            <label for="usernameInput">Usernames
                <input id="usernameInput" name="usernameInput" placeholder="Enter Usernames to Share With">
            </label>
            <br>
            <br>
            <br>
            <label for="sectionIdInput">Section ID
                <input id="sectionIdInput" name="sectionIdInput" placeholder="Enter Section ID">
            </label>
            <br>
            <br>
            <br>
            <label for="postIdInput">Post ID
                <input id="postIdInput" name="postIdInput" placeholder="Enter Post ID">
            </label>
            
            <div class="post-reply">
                {{#if success}}
                    <p id="postId">Updated Successfully.</p>
                {{/if}}
            </div>
            <br>
            <div class="button">
                <button id="saveButton">Save Entry</button>
            </div>
            {{#if hasError}}
                <p id="error" class="error">{{error}}</p>
            {{/if}}
        </form>
</main>
<footer>
    <a href="/posts/newPost" class="button-link">Go to New Post</a>
    <a href="/posts/search" class="button-link">Search a Post</a>
    <a href="/posts/delete" class="delete-button-link">Delete a Post</a>
    <br>
    <p>2024: The Journal App by CS546 Group 5.</p>
</footer>
